@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo a GustaVrum</h1>
    <p>A garagem que entende o que seu carro precisa! Aqui, cada detalhe é cuidadosamente analisado, garantindo que seu veículo receba a manutenção e os cuidados certos.</p>
</div>
